﻿

@font-face {
    font-family: "Cheddar Jack";
    src: url("Cheddar_Jack.eot?") format("eot"), 
	    url("Cheddar_Jack.woff") format("woff"), 
	    url("Cheddar_Jack.ttf") format("truetype"), 
	    url("Cheddar_Jack.svg#CheddarJack") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fun in the Jungle";
    src: url("Fun_in_the_Jungle.eot?") format("eot"), url("Fun_in_the_Jungle.woff") format("woff"), url("Fun_in_the_Jungle.ttf") format("truetype"), url("Fun_in_the_Jungle.svg#FunintheJungle") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DosisBold';
    src: url('DosisBold.eot');
    src: url('DosisBold.eot') format('embedded-opentype'),
         url('DosisBold.woff2') format('woff2'),
         url('DosisBold.woff') format('woff'),
         url('DosisBold.ttf') format('truetype'),
         url('DosisBold.svg#DosisBold') format('svg');
}

@font-face {
    font-family: 'DosisBook';
    src: url('DosisBook.eot');
    src: url('DosisBook.eot') format('embedded-opentype'),
         url('DosisBook.woff2') format('woff2'),
         url('DosisBook.woff') format('woff'),
         url('DosisBook.ttf') format('truetype'),
         url('DosisBook.svg#DosisBook') format('svg');
}

@font-face {
    font-family: 'DosisLight';
    src: url('DosisLight.eot');
    src: url('DosisLight.eot') format('embedded-opentype'),
         url('DosisLight.woff2') format('woff2'),
         url('DosisLight.woff') format('woff'),
         url('DosisLight.ttf') format('truetype'),
         url('DosisLight.svg#DosisLight') format('svg');
}

@font-face {
    font-family: 'DosisMedium';
    src: url('DosisMedium.eot');
    src: url('DosisMedium.eot') format('embedded-opentype'),
         url('DosisMedium.woff2') format('woff2'),
         url('DosisMedium.woff') format('woff'),
         url('DosisMedium.ttf') format('truetype'),
         url('DosisMedium.svg#DosisMedium') format('svg');
}

@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond.eot');
    src: url('EBGaramond.eot') format('embedded-opentype'),
         url('EBGaramond.woff2') format('woff2'),
         url('EBGaramond.woff') format('woff'),
         url('EBGaramond.ttf') format('truetype'),
         url('EBGaramond.svg#EBGaramond') format('svg');
}

@font-face {
    font-family: 'LatoBold';
    src: url('LatoBold.eot');
    src: url('LatoBold.eot') format('embedded-opentype'),
         url('LatoBold.woff2') format('woff2'),
         url('LatoBold.woff') format('woff'),
         url('LatoBold.ttf') format('truetype'),
         url('LatoBold.svg#LatoBold') format('svg');
}

@font-face {
    font-family: 'LatoRegular';
    src: url('LatoRegular.eot');
    src: url('LatoRegular.eot') format('embedded-opentype'),
         url('LatoRegular.woff2') format('woff2'),
         url('LatoRegular.woff') format('woff'),
         url('LatoRegular.ttf') format('truetype'),
         url('LatoRegular.svg#LatoRegular') format('svg');
}

@font-face {
    font-family: 'TitilliumBold';
    src: url('TitilliumBold.eot');
    src: url('TitilliumBold.eot') format('embedded-opentype'),
         url('TitilliumBold.woff2') format('woff2'),
         url('TitilliumBold.woff') format('woff'),
         url('TitilliumBold.ttf') format('truetype'),
         url('TitilliumBold.svg#TitilliumBold') format('svg');
}

@font-face {
    font-family: 'TitilliumRegular';
    src: url('TitilliumRegular.eot');
    src: url('TitilliumRegular.eot') format('embedded-opentype'),
         url('TitilliumRegular.woff2') format('woff2'),
         url('TitilliumRegular.woff') format('woff'),
         url('TitilliumRegular.ttf') format('truetype'),
         url('TitilliumRegular.svg#TitilliumRegular') format('svg');
}
